<launch>

  <arg name="collectData" default="true"/>
  <!-- Start up all sensors -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>
  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>
  <include file="$(find realsense2_camera)/launch/rs_t265.launch"/>
  <include file="$(find visual_odometry)/launch/ekf_fusion.launch"/>

  <!-- Start up all servers -->
  <node name="getImage_server" pkg="visual_odometry" type="getImage_Server.py"/>
  <!-- <node name="getRealSenseOdom_server" pkg="visual_odometry" type="getRealSenseOdom_Server.py"/>
  <node name="V_Odometry_server" pkg="visual_odometry" type="V_Odometry_Server.py"/>
  <node name="turtlebotOdom_server" pkg="visual_odometry" type="turtlebotOdom_Server.py"/>
  <node name="combinedOdom_server" pkg="visual_odometry" type="combinedOdom_Server.py"/> -->

  <!-- Start up applications -->
  <node name="addCovariance" pkg="visual_odometry" type="addCovariance.py" output="screen"/>
  <node name="dataCollector" pkg="visual_odometry" type="dataCollector.py" if="$(arg collectData)" output="screen"/>
  <node name="VO_estimate" pkg="visual_odometry" type="publishEstimate.py" output="screen"/>
  <node name="controller" pkg="visual_odometry" type="closedLoopController" output="screen"/>

</launch>
